*{
margin:0;
padding:0;
box-sizing: border-box;
}

.containter{
max-width: 80%;
/* background-color:rgb(198,152,240); */
padding:33px;
margin:auto;
}

.containter h3,h1{
text-align: center;
font-family: 'Fira Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
}

input,textarea{
border:2px solid black ;
border-radius: 3px;
width:80%;
padding:10px;
margin:11px auto;
font-size:18px;
outline: none;
display: block;

}

form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.btn{
color:white;
background:purple;
padding:15px 10px;
border: 2px solid white;;
font-size: 20px;
border-radius: 15px;
cursor: pointer;
}

.bg{
width: 100%;
z-index: -1;
position: absolute;
opacity: 0.6;
}

.submitMsg{
    text-align:center;
    color:blue;
    font-size: 22px;
}